/* CSS Document */
.navbar{
	width:89%;
	border-radius: 10px;
	position: absolute;
	left: 11%;
	margin-top:-6%;
}
header{
	margin-top: 10px;
}
.borde{
	border: solid 1px #CCCCCC;
	-webkit-box-shadow: 0px 0px 7px 2px #999999;
	box-shadow: 0px 0px 7px 2px #999999;
	border-radius: 3px;
}
#logo{
	width: 11%;
	height: 11%;
	border-radius:10px;
}
html body{
background-color:#333;
}
section{
	padding-bottom: 5%;
	padding-top: 5%;
	padding-left: 2%;
	padding-right: 2%;
	margin-bottom: 10px;
	margin-top: 10px;	
}