<section class="borde">
	<form id="formulario" class="form-inline" action="" method="POST">
    	<fieldset>
            <legend id="fcap" style="font-size:24px;color:#CCC;">
                Programaciones
            </legend>
            <input type="text" id="nombre" placeholder="Nombre" class="form-control"/>
            <input type="text" id="descripcion" placeholder="Descripcion" class="form-control"/>
            <input type="time" id="hora_inicio" class="form-control" placeholder="Hora inicio" maxlength="5"/>
            <input type="time" id="hora_fin" class="form-control" placeholder="Hora fin" maxlength="5"/>
            <input type="text" id="conductores" placeholder="Conductores" class="form-control"/>
            <input type="button" id="boton" onClick="procesar_form()" class="btn btn-success" value="Guardar"/>
        </fieldset>    
    </form>
</section>
<section class="borde">
	<table class="table table-hover">
		<thead>
            <th>Código</th>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>HoraInicio</th>
            <th>HoraFin</th>
            <th>Conductores</th>
		</thead>
        <tbody id="contenido">
      
        </tbody>
    </table>
</section>
